.login-card{
    border: 0.2rem solid #e2eafc;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    height: 24rem;
    width: 28rem;
    background-color: #36454F;
    .heading {
        
        border: 0.2rem solid #ccdbfd;
        background-color:  #111212;
        font-family: "Abel";
      }
    .user-container{
        padding: 2rem;
        font-family: 'Abel';
        .username-label{
            padding-right:1rem;
        
        }
    }
    .password-container{
        padding: 2rem;
        font-family: 'Abel';
        .password-label{
            padding-right:1rem ;
            font-family: 'Abel';
        }
    }
    .button-container{
        padding: 2rem;
        font-family: 'Abel';
    }
    .info-tag{
        font-family: 'Abel';
    }
    
    .forgot-password{
        font-family: 'Abel';
    }   


    
}






