*{
    margin: 0;
    padding: 0;
}

.login-form {
    display:block;
    width:50%;
    margin:0 auto;
    padding-top: 10%;
    padding-left: 15%
  }

.login-heading{
    justify-content: center;

}