* {
  margin: 0;
  padding: 0;
}

form {
  background-color: grey;
}

form input {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
}

label {
  color: azure;
  font-size: large;
  margin: 10px 0;
}

.heading {
  color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
}
