:root{
    --bgcolor:#edf2fb;
    --head:#ccdbfd;
    --form:#36454F;
    --fontstyle:'Abel';
}
.signin-card{
    border: 0.2rem solid var(--form);
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin-top: 10%;
    height: 26rem;
    width: 28rem;
    background-color: var(--form);
    
}
.grid-style{
    margin-left: 50px;
    display: table;
    border-spacing: 5px;
}
.grid-style>article{
    display: table-row;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
}
input {
    vertical-align: bottom;
    margin-left:0; 
}
.button-container{
    padding: 2rem;
    font-family: 'Abel';
}
.info-tag{
    font-family: 'Abel';
}